<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">The Broadcast</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">Contact Us</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
            <li class="nav-item"><a class="nav-link" href="/logout"><button class="btn btn-primary">Logout</button></a></li>
           
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/register"><button class="btn btn-primary">Register</button></a></li>
            <li class="nav-item"><a class="nav-link" href="/login"><button class="btn btn-success">Login</button></a></li>
        
            {% endif %}
        </ul>
    </div>
</nav>