{% extends 'index.html' %}

{% block head %}
<title>Contact Us</title>
{% endblock%}

{% block body %}
<div class="container">
    <h1>The Broadcast</h1>
    <h3>Brings You To Aware Around The World</h3><br>
    <hr>
    <p class="lead"> You can contact us on any of below platforms or write to us at smd.raihan001@gmail.com</p>
    <br><hr>
            <button class="btn btn-primary">Facebook</button>
        
            <button class="btn btn-danger">YouTube</button>
        
            <button class="btn btn-dark">Instagram</button>
      
    
</div>
{% endblock %}